<h1><%= @article.date %></h1>

<p>◯今日やったこと</p>
<%= @article.shinchoku %>
<br>
<p>◯課題・感想</p>
<%= @article.kansou %>
<p>◯学び・気づき</p>
<%= @article.manabi %>
<br>
<p>◯次やること</p>
<%= @article.next_do %>
<br>
<p>◯次来る日</p>
<%= @article.next_date %>
<br>
<p>◯備考</p>
<%= @article.memo %>
<br>
