<h2><%= article.date %></h2>
<h3>作成者：<%= article.user.name %></h3>
<p>◯今日やったこと</p>
<%= simple_format(article.shinchoku) %>
<br>
<p>◯課題・感想</p>
<%= simple_format(article.kansou) %>
<p>◯学び・気づき</p>
<%= simple_format(article.manabi) %>
<br>
<p>◯次やること</p>
<%= simple_format(article.next) %>
<br>
<p>◯次来る日</p>
<%= article.next_date %>
<br>
<p>◯画像</p>
<% if @article.article_image? %>
  <div class = "thumnail">
    <%= image_tag @article.article_image.url %>
  </div>
<% end %>
<br>
<p>◯備考</p>
<%= simple_format(article.memo) %>
