<h1>日報一覧</h1>

<ul>
<% @articles.each do |article| %>
  <li>
  <%= link_to article.shinchoku, article_path(article.id) %> by <%= article.user_id %>
  <% if article.user_id == current_user.id %>
    <%= link_to "編集", edit_article_path(article.id) %>
    <%= link_to "削除", article_path(article.id), method: :delete, data: { confirm: "本当に削除してよろしいですか？" } %>
  <% end %>
  </li>
<% end %>
</ul>
<%= link_to '新規作成', new_article_path %>
