<%= render partial: 'show_temp', locals: { article: @article } %>
<ol>
  <h3>⭐︎コメント</h3>
  <% @article.comments.each do |comment| %>
    <li><%= comment.message %> by <%= link_to comment.user.name, user_path(comment.user.id) %>
    <% if comment.comment_favorited_by?(@user) %>
      <%= link_to 'いいね！を取り消す', favorite_article_comment_path(comment.article_id, comment.id), method: :delete %>
    <% else %>
      <%= link_to 'いいね！', favorite_article_comment_path(comment.article_id, comment.id), method: :post %>
    <% end %>
    <% if comment.user_id == @user.id %>
      <%= link_to '編集', edit_article_comment_path(comment.article_id, comment.id) %>
      <%= link_to '削除', article_comment_path(comment.article_id, comment.id), method: :delete, data: { confirm: "本当に削除してよろしいですか？" } %>
    <% end %>
    </li>
  <% end %>

  <%= form_for [@article, @article.comments.build] do |f| %>
    <li><%= f.text_field :message %></li>
    <%= f.submit %>
  <% end %>
</ol>
